<!-- Message Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationMessageTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Element Name</text><br>
    <input class="configurationTemplateNameInput" type="text" readonly/><br><br>
    <text class="configurationTemplateNameText">Message</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Part Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationPartTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Part</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Element</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Type</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Variable Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationVariableTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Element Name</text><br>
    <input class="configurationTemplateNameInput" type="text" readonly/><br><br>
    <text class="configurationTemplateNameText">Variable</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Type</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Initialize Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationInitializeTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Initialize</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Part</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- From Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationFromTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">From</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Variable</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Part</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Expression</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Ontology Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationOntologyTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Element Name</text><br>
    <input class="configurationTemplateNameInput" type="text" readonly/><br><br>
    <text class="configurationTemplateNameText">Ontology</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Location</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Namespace</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Service Provider Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationServiceProviderTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Element Name</text><br>
    <input class="configurationTemplateNameInput" type="text" readonly/><br><br>
    <text class="configurationTemplateNameText">Service Provider</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Service Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationServiceTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Service</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Operation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Reuse Message Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationReuseMessageTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Message</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Reuse Varialbe Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationReuseVariableTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Variable</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Type</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Condition Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationConditionTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Condition</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Expression</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Case Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationCaseTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Case</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Expression</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Event Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationEventTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Event</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Operation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Context Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationContextTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Context</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Priority</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Rule Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationRuleTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Rule</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Expression</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Constraint ConfigurationDetail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationConstraintTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Constraint</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Subject Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationSubjectTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Subject</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Type</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Value</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Verb Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationVerbTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Verb</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Value</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Object Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationObjectTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Object</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Type</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Value</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Node Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationNodeTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Element Name</text><br>
    <input class="configurationTemplateNameInput" type="text" readonly/><br><br>
    <text class="configurationTemplateNameText">Node</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Wait Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationWaitTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Wait</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">JoinCondition</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Invoke Configuration Detail Template -->
<div class="configurationTemplateOutlineDiv" id="configurationInvokeTemplate">
  <div class="configurationTemplateInlineDiv">
    <text class="configurationTemplateNameText">Invoke</text><br>
    <table class="configurationTemplateTable">
      <tbody>
        <tr>
          <th scope="row">Operation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
        <tr>
          <th scope="row">Documentation</th>
          <td><input class="configurationTemplateTableInput" type="text" readonly></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
