<!-- Configuration Component Screen -->
<div class="configurationComponentDescriptionTextDiv" id="configurationComponentTemplate">
  <text class="configurationComponentDescriptionText">Element Name</text>
  <input class="configurationSharedComponentSaveButton" type="button" value="Apply" onclick="clickConfigurationApply()"/>
  <br>
  <input class="configurationComponentDescriptionInput" type="text" id="configurationComponentDescriptionInput"/>
  <br><br>
  <div class="configurationComponentContentDiv" id="configurationComponentContentDiv">
  </div>
</div>
