<!-- New CAWL Document Modal Screen -->
<div class="newCAWLDiv" id="newCAWLDiv">
  <div class="newCAWLContentDiv">
    <div class="newCAWLContentTextDiv">
      <text class="newCAWLContentText">New CAWL Document</text>
    </div>
    <br><br>
    <div class="documentDescriptionDiv">
      <text class="documentDescriptionText">Name (required)</text>
      <br><br>
      <input class="documentDescriptionInput" id="documentNameInput" type="text"/>
      <br><br><br>
      <text class="documentDescriptionText">Namespace (required)</text>
      <br><br>
      <input class="documentDescriptionInput" id="documentNamespaceInput" type="text"/>
      <br><br><br>
      <text class="documentDescriptionText">Version (required)</text>
      <br><br>
      <input class="documentDescriptionInput" id="documentVersionInput" type="text"/>
      <br><br><br>
      <text class="documentDescriptionText">Documentation (optional)</text>
      <br><br>
      <textarea class="documentDescriptionTextarea" id="documentDocumentationTextarea"></textarea>
    </div>
    <br><br>
    <div class="newCAWLContentButtonDiv">
      <input class="addNewDivTab" id="addNewDivTab" name="addNewDivTab" type="button" value="Ok" onclick="javascript:addNewDivTab();"/>
      <input class="newCAWLCancelButton" id="newCAWLCancelButton" type="button" value="Cancel"/>
    </div>
  </div>
</div>
